<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Plugin Demo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button expand="block" (click)="takePhoto()">Take Photo</ion-button>
  <ion-img *ngIf="image" [src]="image" style="margin-top: 16px;"></ion-img>

  <ion-button expand="block" (click)="getDeviceInfo()">Show Device Info</ion-button>
  <ion-item *ngIf="deviceInfo">
    <ion-label>
      <h3>Model: {{ deviceInfo.model }}</h3>
      <p>Platform: {{ deviceInfo.platform }}</p>
      <p>OS Version: {{ deviceInfo.osVersion }}</p>
    </ion-label>
  </ion-item>

  <ion-button expand="block" color="secondary" (click)="showToast()">Show Toast</ion-button>

</ion-content>