// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-color-primary: #007bff;
    /* Bright blue */
    --ion-color-secondary: #ffc107;
    /* Gold */
    --ion-color-success: #28a745;
    --ion-color-danger: #dc3545;
}